Package: com.imokhles.test8ball
Name: test 8Ball
Depends: mobilesubstrate, firmware (>= 8.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak!
Author: iMokhles <mokhleshussien@aol.com>
Section: Tweaks
